header{
	background-color:#ECF0F1 ;

}
.logo{
	width:60px;
	height:60px;
}
.navbar{
	background-color:#ECF0F1;
}
.opciones{
	color: #C0392B;
	padding: 35px;
	text-decoration: none;
	font-family:Times New Roman;
	font-size: 20px;
}
.rounded-pill{
	width: 130px;
	height: 130px;
}
.btn{
	background-color: #D35400;
	margin: 10px;
}
.btn:hover{
	background-color: #707B7C;
}
.img{
	width:1px;
	height: 540px;
	margin-top:10px;
	margin-bottom:10px;
}
.mapa{
	width: 700px;
	height: 700px;
	margin:auto ;
}



.col-sm-6{
 font-family:Times New Roman;
 font-size: 23px;

}
.col-lg-4{
	 font-family:Times New Roman;
 font-size: 23px;
}

footer{
	height: 10%;
	background-color: #D0D3D4;
}
.direccion{
	margin-top: 100px;
margin-block: auto;
margin: 100px;
padding: 30px;
}

h1{
	font-size: 18px;
	font-family: arial;

}
p{
	font-size: 14px;
	font-family: arial;
}

.cuadros{
	height: 190px;

}
.container{
	
  
}
.facebook{
	background-color: #D0D3D4;
	border: none;
	margin-left: 20px;
	margin-top: 15PX;
}
.instagram{
	background-color: #D0D3D4;
	border: none;
	margin-left: 20px;
	margin-top: 15PX;
}
.telefono{
	background-color: #D0D3D4;
	border: none;
	margin-left: 20px;
	margin-top: 15PX;
}
.whatsapp{
	background-color: #D0D3D4;
	border: none;
	margin-left: 20px;
	margin-top: 15PX;
}
.direccion{
	background-color: #D0D3D4;
	margin-right: 50px;
	margin-top: 50PX;
}
.instructores{
	width: 70%;
	height: 300px;
}
.direccion{
margin-top: 60px;


}
.redes{
	margin-top: 60px;
	border: none;
}

.modal-footer{
background-color: #D35400;
}
.modal-header{
background-color: #D35400;
}